# Activa un motor de reescritura para cuando reciba la petición $GET 

RewriteEngine On
# Si lo que el usuario pide NO es un archivo real ni un directorio real
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Captura todo lo que pongas después del dominio ((.*)) y lo mete dentro de index.php?ruta=$1
RewriteRule ^(.*)$ index.php?ruta=$1 [QSA,L]